
.sessao3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.card {
    width: 30%;
    margin: 0 auto;
    height: auto;
    margin-right: 5px;
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.card img {
    background-color: white;
    width: 50%;
}

#txt {
    background-color: white;
    color: gray;
    margin-bottom: 0;
}

.btnJ {
    margin-top: 1rem;
}


#media {
    text-align: center;
}

.jornada {
    display: flex;
    align-items: center;
    text-align: center;
}

#jornAcolhe {
    text-align: center;
}


