* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #04051D;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    height: 70px;
    background-color: #01010e;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 95%;
    position: fixed;
}

main {
    color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 100vh;
}

footer {
    margin-top: 400vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #01010e;
}

footer p {
    background-color: #01010e;
    font-weight: normal;
}

#gradient {
    padding: 5px;
    opacity: 70%;
    width: 100%;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}