* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
    background-color: #04051D;
    color: white;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    height: 70px;
    background-color: #01010e;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* opacity: 95%; */
    position: fixed;
}

main {
    width: 90%;
    margin: 0 auto;
}

section {
    height: 100dvh;
    width: 100%;
}


/* sessão 1 */
.boas-vindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    margin-top: 8rem;
}

.boas-vindas #nome {
    color: grey;
    margin-bottom: 10px;
}

.boas-vindas #titulo {
    
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.boas-vindas #frase{
    margin-bottom: 2rem;
    color: grey;
}

.button {
    padding: 0.8rem;
    color: white;
    border: solid 1px white;
    border-radius: 80px;
    background-color: #132FA6;
    font-weight: bold;
}


/* sessão 2 */
.apresentacao {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.ladA{
    width: 60%;
}

.ladA h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.ladA p {
    margin-bottom: 1.5rem;
    color: grey;
}

.ladA ul {
    list-style-type: none;
}

.ladA #checklist {
    color: rgb(7, 132, 204);
}

.ladA button {
    margin-top: 1.5rem;
}

.ladB{

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ladB img {
    border-radius: 100%;
    width: 100%;
}


/* sessão 3 */
.jornada {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#titleSessao3 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: white;
    color: gray;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 50%;
}

.card img, p {
    margin-bottom: 1rem;
}

/* Sessão4 */


.contatos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contatos .ladA {
    width: 50%;
}

.contatos .ladB {
    width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.logos {
    margin-top: 5rem;
    text-align: center;
}

.logos li {
    display: inline;
    margin-right: 1rem;
}


footer {
    background-color: #01010e;
    text-align: center;
    padding: 2rem;
}
#gradient {
    padding: 5px;
    opacity: 70%;
    width: 100%;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}









/* media */
/* Para telas até 1024px (tablets e laptops menores) */
@media (max-width: 1024px) {
    #reveal .boas-vindas h1#titulo {
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
    }

    #reveal .boas-vindas p#frase {
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
    }

    #reveal .boas-vindas .button {
        padding: 12px 24px;
        font-size: 1rem;
        display: block;
        margin: 20px auto 0 auto;
    }

    .apresentacao {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .apresentacao .ladA, .apresentacao .ladB {
        width: 90%;
        margin: 20px 0;
    }

    .apresentacao .ladB img {
        width: 100%;
        height: auto;
    }

    .apresentacao .ladA ul {
        padding-left: 0;
        list-style: none;
    }

    .apresentacao .ladA ul li {
        margin-bottom: 10px;
    }
}

/* Para telas até 768px (celulares grandes) */
@media (max-width: 768px) {


    section {
        height: auto;
        min-height: auto;
        padding: 80px 20px 40px;
    }

    .boas-vindas {
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
        height: 80dvh;
    
    }
    #reveal .boas-vindas h1#titulo {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .apresentacao {
        width: 100%;
        text-align: center;
    
    }
    #reveal .boas-vindas p#frase {
        font-size: 0.95rem;
    }

    .apresentacao .ladA h2 {
        font-size: 1.5rem;
    }

    .apresentacao .ladA p {
        font-size: 0.9rem;
    }

    .apresentacao .ladB img {
        width: 50%;
        max-width: 300px;
    }

    .jornada {
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    #titleSessao3{
         font-size: 1.8rem;
    
    }

    .contatos {
        flex-direction: column;

    }

    .contatos .ladA{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .contatos .ladB {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    footer {
        margin-top: 15rem;
    }
}

/* Para telas até 480px (celulares pequenos) */
@media (max-width: 480px) {

  

    #reveal .boas-vindas h1#titulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #reveal .boas-vindas p#frase {
        font-size: 0.85rem;
    }

    .apresentacao .ladA h2 {
        font-size: 1.2rem;
    }

    .apresentacao .ladA p {
        font-size: 0.8rem;
    }

    .apresentacao .ladB img {
        max-width: 250px;
    }

    .apresentacao .ladA ul li {
        font-size: 0.8rem;
    }

    .apresentacao .ladA .button {
        width: 100%;
        font-size: 0.9rem;
        padding: 10px 0;
    }
}
